<div id="tsparticles"></div>
<nav>
  <a href="/" class="logo">Vtube</a>
  <form class="d-flex" role="search" method="post" action="/">
    <input class="input" name="query" placeholder="Search..." type="search" />
    <!-- animated button -->
    <button class="btn">search</button>
  </form>
</nav>
